<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Are you more a sweet or sour?</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
    <h1 class="display-4">Sweet or Sour</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">First Name</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Yulisa Gramajo">
        </div>
        <div class="form-group">
          <title>What type of drink do you like?</title>
          <label for="drinks">Example select</label>
          <select class="form-control" name="drinks" id="drinks">
            <option>sprite</option>
            <option>apple juice</option>
            <option>lemonade</option>
            <option>water</option>
            <option>Powerade</option>
          </select>
        </div>
        <div class="form-group">
          <label for="color">Example multiple select</label>
          <select multiple class="form-control" name="color" id="color">
            <option>pink</option>
            <option>green</option>
            <option>orange</option>
            <option>blue</option></option>
            <option>yellow</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_freeform">Example text area</label>
          <textarea class="form-control" name="input_freeform" id="input_freeform" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if sour_output %} {{ sour_output }} {% endif %}
    </div>
  </body>
</html>

